@use 'variables' as *;
@use 'mixins' as *;
@use 'placeholders' as *;

/* All-Articles Section Styling */
#article-grid {
  //placeholder to set basic grid layout, font size and family
  @extend %article-grid-base;

  //override base styling to calculate ideal column number based on input
  //min width and viewport width
  @include reponsive-grid-template-columns(var(--img-article-width));

  article {
    min-width: var(--img-article-width);
  }

  .media-content {
    position: relative;
    margin: 20px auto;
  }

  img {
    width: 100%;
    border-radius: 0.5rem;
  }

  video {
    width: 100%;
    display: none;
  }
}

.play-icon {
  box-sizing: border-box;
  position: absolute;
  padding: 0.5rem 0 0 0.5rem;
  color: skyblue;

  &::before {
    margin: auto;
    font-size: 1.5rem;
    max-width: 20px;
    max-height: 20px;
  }
}
