@use "variables" as *;

/* All-Articles Section Styling */
#article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--article-width), 1fr));
  justify-items: center;
  column-gap: var(--article-grid-gap);
  padding-bottom: 10px;
  border-bottom: 1px solid black;

  article {
    min-width: var(--article-width);
  }

  .media-content {
    position: relative;
    margin: 20px auto;
  }

  img {
    width: 100%;
    border-radius: 0.5rem;
  }

  video {
    width: 100%;
    display: none;
  }

  header {
    font-family: var(--fonts-headline);
    font-size: var(--font-size-headline);
  }

  p {
    font-family: var(--fonts-body);
    font-size: var(--font-size-body);
  }
}

.play-icon {
  box-sizing: border-box;
  position: absolute;
  padding: 0.5rem 0 0 0.5rem;
  color: skyblue;

  &::before {
    margin: auto;
    font-size: 1.5rem;
    max-width: 20px;
    max-height: 20px;
  }
}
