@use 'variables' as *;

#feature-logo {
  display: none;
}

.feature-article {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

#feature-article-carousel {
  height: 100%;

  .item {
    padding: 0px;
    margin: 0px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.feature-article-images {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.owl-theme {
  .owl-nav {
    [class*='owl-'] {
      transition: all 0.3s ease;
      &.disabled:hover {
        background-color: #d6d6d6;
      }
    }
  }
}

#feature-article-carousel.owl-theme {
  position: relative;
  .owl-next,
  .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    filter: invert(70%);
  }

  .owl-prev {
    left: 10px;
  }
  .owl-next {
    right: 10px;
  }
}

.feature-article-text:not(h1) {
  font-family: var(--fonts-body);
  font-size: var(--font-size-body);
}

.feature-article-text h1 {
  font-family: var(--fonts-headline);
  font-weight: var(--nav-fontWeights-bold);
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

/* Media Query */
@media (min-width: 768px) {
  .feature-article {
    display: flex;
    align-items: center;
  }

  .feature-article-text {
    order: 1;
    width: 50%;
    box-sizing: border-box;
    align-self: flex-start;
    font-size: 0.7rem;
  }

  .feature-article-images {
    order: 2;
    width: 50%;
    box-sizing: border-box;
    align-self: flex-start;
  }

  #feature-article-carousel {
    height: 100%;
  }
}

@media (min-width: 1200px) {
  main {
    margin-left: 200px;
    margin-right: 200px;
  }

  .feature-article-text {
    font-size: 1rem;
  }

  #feature-logo {
    display: block;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
  }
}
