@use 'variables' as *;

//calculate how many column to generate based on input column width and viewport width
@mixin reponsive-grid-template-columns(
  $article-width: var(--img-article-width)
) {
  grid-template-columns: repeat(auto-fit, minmax($article-width, 1fr));
}

//create left partial vertical border for a div using :after. assume parent element
//has position:relative
@mixin left-vertical-partial-border($percent-length: 90) {
  &::after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    border-left: $grey-border-1px;
    content: '';
    transform: translateY(calc((100 - $percent-length) / 2) + 0%);
    width: 100%;
    height: $percent-length + 0%;
  }
}

@mixin top-horizontal-partial-border($percent-length: 90) {
  &::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    border-top: $grey-border-1px;
    content: '';
    transform: translateX(calc((100 - $percent-length) / 2) + 0%);
    width: $percent-length + 0%;
    height: 100%;
  }
}

@mixin flexCenterVertical {
  display: flex;
  align-items: center;
}

@mixin fullFontStyling {
  font-family: var(--font-family-franklin);
  font-size: var(--nav-fontSize);
  font-weight: var(--nav-fontWeights-bold);
}