@use "variables" as *;

// $grey-border-1px : 1px solid lightgrey;

@mixin flexCenterVertical {
  display: flex;
  align-items: center;
}

@mixin fullFontStyling {
  font-family: var(--font-family-franklin);
  font-size: var(--nav-fontSize);
  font-weight: var(--nav-fontWeights-bold);
}

/* Nav Bar Styles */
nav {
  @include fullFontStyling();
  @include flexCenterVertical();
  border-bottom: $grey-border-1px;
  padding: 0;
  gap: 20px;
  height: 70px;
  
  ul {
    list-style-type: none;
    padding: 0;
    gap: 40px;
    
    li {
      display: inline;
      line-height: 2rem;
    }
  }
}

.nav-mobile-container {
  border: 1px;
  width: 300px;
  border-right: $grey-border-1px ;
  border-bottom: $grey-border-1px ;
  position: absolute;
  left: -100%;
  transition: left 1s;
  background-color: white;
  z-index: 999;
  
  &.active {
    left: 0;
  }
}

#nav-mobile,
#nav-desktop li a {
  @include fullFontStyling();
  color: var(--font-color);
  text-decoration: none;
  padding: 8px;
}

#nav-mobile li {
  padding: 10px 0px 10px 10px;
  font-family: var(--font-family-franklin);
}

ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 8px;
}

nav {
  ul {
    li {
      a.active,
      a:hover {
        color: black;
        background-color: lightgrey;
        border-radius: 30px;
        animation: blinkAnimation 2s ease-in-out infinite;
      }
    }
  }
}

@keyframes blinkAnimation {
  0% {
    background-color: lightgrey;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: lightgrey;
  }
}


nav img:not(#nav-logo) {
  width: var(--navmenu-button-sizes);
}

#nav-desktop {
  display: none;
}


.navbar-img {
  @include flexCenterVertical();
  justify-content: center;
  height: 60px;
  width: 72px;
  gap: 20px;
  margin-left: 8px;
}

#menu-wrapper {
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
  display: grid;
  grid-template-columns: 100px 1fr;
  justify-content: space-between;
  
  #hamburger-menu span {
    opacity: 1;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    color: black;
    background-color: white;
    position: absolute;
    transform: rotate(0deg);
    transition: 0.4s ease-in-out;
  }
}

/* Media Query */
@media (min-width: 768px) {
  #nav-desktop {
    display: none;
  }

  #nav-logo {
    justify-content: center;
  }

  .nav-desktop-container {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  #nav-logo {
    display: none;
  }

  #nav-desktop {
    display: block;
  }

  #hamburger-menu-button {
    display: none;
  }

  .nav-desktop-container {
    display: flex;
    justify-content: flex-start;
  }
}