/* Global Variables */
:root {
  --font-color: black;
  --fonts-headline: Postoni, garamond, serif;
  --font-size-headline: 25px;
  --fonts-subhead: Franklin, arial, sans-serif;
  --fonts-body: georgia, Times New Roman, serif;
  --font-family-franklin: Franklin, Arial, Helvetica, sans-serif;
  --nav-fontSize: 0.875rem;
  --nav-fontWeights-bold: 700;
  --navmenu-button-sizes: 1.25rem;
  --article-grid-gap: 10px;
  --img-article-width: 300px;
  --text-article-width: 200px;
  --fonts-size-subinfo: 0.75rem;
  --fonts-color-subinfo: grey;
}
