@charset "utf-8";
@use "variables" as *;
@use "navbar" as *;
@use "article-grids" as *;
@use "feature" as *;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  line-height: 1;
  margin: 0;
  padding: 0px;
}

body h1 {
  font-family: var(--fonts-headline);
  font-size: 40px;
  margin-bottom: auto;
}

#menu-wrapper {
  max-width: 100%;
  display: grid;
  grid-template-columns: 100px 1fr;
  justify-content: space-between;
}

main {
  padding: 20px;
}

footer {
  display: flex;
  justify-content: center;
  font-family: var(--fonts-body);
}

/* Media Query */
@media (min-width: 768px) {
  #nav-desktop {
    display: none;
  }

  #nav-logo {
    justify-content: center;
  }

  .nav-desktop-container {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  #nav-logo {
    display: none;
  }

  #nav-desktop {
    display: block;
  }

  #hamburger-menu-button {
    display: none;
  }

  .nav-desktop-container {
    display: flex;
    justify-content: flex-start;
  }
}
