@charset "utf-8";
@use 'variables' as *;
@use 'navbar' as *;
@use 'feature' as *;
@use 'text-grid' as *;
@use 'article-grid' as *;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  line-height: 1;
  margin: 0;
  padding: 0px;
}

body h1 {
  font-family: var(--fonts-headline);
  font-size: 40px;
  margin-bottom: auto;
}

main {
  padding: 20px;
}

footer {
  display: flex;
  justify-content: center;
  font-family: var(--fonts-body);
}

.art-cat,
.art-tag {
  font-weight: 600;
}

/* Media Query */
@media (min-width: 768px) {
  .feature-article {
    display: flex;
    align-items: center;
    /* margin-right: 50px;
    margin-left: 50px; */
    border-bottom: 1px solid black;
  }

  .feature-article-text {
    order: 1;
    width: 50%;
    box-sizing: border-box;
    /* padding: 20px; */
    align-self: flex-start;
    font-size: 0.7rem;
  }

  .feature-article-images {
    /* padding: 20px; */
    order: 2;
    width: 50%;
    box-sizing: border-box;
    align-self: flex-start;
  }

  #feature-article-carousel {
    height: 100%;
  }

  main {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (min-width: 1200px) {
  main {
    margin-left: 200px;
    margin-right: 200px;
  }

  .feature-article-text {
    font-size: 1rem;
  }

  #feature-logo {
    display: block;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
  }
}
