@charset "utf-8";
@use 'variables' as *;
@use 'navbar' as *;
@use 'feature' as *;
@use 'text-grid' as *;
@use 'article-grid' as *;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  line-height: 1;
  margin: 0;
  padding: 0px;
}

body h1 {
  font-family: var(--fonts-headline);
  font-size: 40px;
  margin-bottom: auto;
}

main {
  padding: 20px;
}

footer {
  display: flex;
  justify-content: center;
  font-family: var(--fonts-body);
}

.art-cat,
.art-tag {
  font-weight: 600;
}

/* Media Query */
@media (min-width: 760px) {
  main {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (min-width: 1200px) {
  main {
    margin-left: 200px;
    margin-right: 200px;
  }
}
